
.show-popup{
  transform-origin: 50% 0;
  animation: showing-popup 300ms ease-in;
}

@keyframes showing-popup{
  0% {
    opacity: 0;
    transform: scaleY(0);
  }
  20% {
    opacity: 0;
    transform: scaleY(1);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}


.show-modal {
  animation: showing-modal 400ms linear;
}
.hide-modal {
  animation: hiding-modal 400ms linear;
}
@keyframes showing-modal {
  0%   { background-color: rgba(0,0,0, 0);}
  100% { background-color: rgba(0,0,0, 0.35);}
}
@keyframes hiding-modal {
  0%   { background-color: rgba(0,0,0, 0.35);}
  100% { background-color: rgba(0,0,0, 0);}
}


@media screen and (max-width: 540px) {  
  .show-popup {  
    animation: showing-popup 150ms ease-in; 
  }  
}