.chb {
  display: inline-block;
  width: 23px;
  height: 23px;
  padding: 1px;
  border-radius: 2px;
  border: 2px solid transparent;
}
.chb:focus {
  outline: 0;
  border: 2px solid #fdb316;
}
.chb:hover,
.bt-chb:hover,
.bt-chb:focus {
  outline: 0;
}