.progress-line {
  position: fixed;
  top: 0;
  left: 0;
  height: 6px;
  width: 0;
  background: #2f7ed8 none repeat scroll 0% 0%;
  z-index: 2000;
}
@media screen and (min-width: 600px) {
  .progress-line {
    height: 3px;
  }
}

.header__title {
  display: inline-block;
  color: rgb(128, 192, 64);
  font-size: 20px;
  font-weight: bold;
  margin-left: 16px;
}

@media (max-width: 580px) {
  .header__title {
    display: none;  
  }
}
 
@media (max-width: 400px) {
  .header__link-pref {
    display: none;
  }
}
 
.header__link-provider {  
  display: inline-block;
  color: black;
  font-weight: bold;
  padding-left: 16px;
}

.header__github-link {
  display: inline-block;
  position: absolute;
  top: 0px;
  right: 24px;
  text-decoration: none;
  fill: #4d4d4d;
  transition: fill 200ms ease-out; }

.header__github-link svg {
  width: 2.5rem;
  height: 3rem; }

.header__github-link:hover, .header__github-link:focus {
  fill: #80c040; }

@media only screen and (max-width: 640px) {
  .header__github-link {
    display: none; 
  }
}


