.m-select__item {
  color: white;
  line-height: 2;
  padding-left: 16px;
  cursor: pointer; }

.m-select__item:hover {
  background-color: rgba(0, 0, 0, 0.15); }

.m-select__item--white {
  color: #303030;
  line-height: 2;
  padding-left: 16px;
  cursor: pointer; }

.m-select__item--white:hover {
  background-color: rgba(255, 255, 255, 0.4); }
