.leaflet-div-icon {
  background: #795548;
  border: 1px solid #795548;
  border-radius: 50%;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: #808080;
  /*color: #333;*/
  border: 1px solid #999;
  border-bottom-width: 0px;
  box-shadow: 0px 0px 0px 6px rgba(0,0,0,0.2);
  /*box-shadow: 0 3px 14px rgba(0,0,0,0.4);*/
}

.leaflet-popup-tip {
  background: #808080;
  border: 2px solid #795548;
}


.popup--white .leaflet-popup-content-wrapper,
.popup--white .leaflet-popup-tip {
  background: white;
  border: 1px solid #999;
  border-bottom-width: 0px;
  box-shadow: 0px 0px 0px 6px rgba(0,0,0,0.2);

}

.popup--sand .leaflet-popup-content-wrapper,
.popup--sand .leaflet-popup-tip {
  background: #e8e0cb;
  border: 1px solid #999;
  border-bottom-width: 0px;
  box-shadow: 0px 0px 0px 6px rgba(0,0,0,0.2);

}


.leaflet-popup-content {
  margin: 12px 12px;
  margin-right: 24px;
}

.leaflet-container a.leaflet-popup-close-button {
  top: 7px;
  right: 4px;
  width: 24px;
  height: 22px;
  font-size: 24px;
  font-weight: 500;
  color: #ed5813;
  line-height: 22px;
}

.left-5 {
  padding-left: 5px; }

.marker {
  font-family: Roboto, "Lucida Grande", Arial, sans-serif;
  font-size: 14px; }

.marker__caption {
  //cursor: pointer;
  width: 100%;
  border-bottom: 2px solid #795548;
}
.marker__caption__not-empty {
 padding-left: 4px;
 padding-right: 4px;
 border-radius: 2px;
 cursor: pointer;
}
.marker__caption__not-empty:hover {
  background-color: #646464;
}

.marker__caption__city {
  color: #795548;
  font-size: 16px;
  font-weight: bold; }

.marker__caption__date {
  color: #8bc34a;
  font-size: 16px;
  font-weight: bold; }

.marker__row {
  margin: 0 0;
}

.marker__description {
  display: block;
  /*color: #c28cba;*/
  color: #9c27b0;
  font-size: 16px;
  font-weight: bold;
}
.marker__description::first-letter{
  text-transform: uppercase;
}
.marker__description:first-letter{
  text-transform: uppercase;
}


.marker__label {
  color: #795548;
  font-weight: bold;
}

.marker__value-odd {
  color: #7cb5ec;
  font-weight: bold; }

.marker__value-even {
  color: #4a8659;
  font-weight: bold; }

.marker__icon {
  color: #7cb5ec; }

.marker {
  background-color: transparent;
  font-family: Roboto, "Lucida Grande", Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  width: 90px;
  white-space: nowrap; }

.marker__t {
  color: yellow; }


.marker__bt-close {
  
}

.marker__value {
  //color: #7cb5ec;
  color: black; 
  font-weight: 600;
}

.marker__v-water {
  color: #3f51b5; 
  font-weight: 600;
}
.marker__v-pressure {
  color: #0d2339; 
  font-weight: 600;
}
.marker__v-day {
  color: #ff9800; 
  font-weight: 600;
}
.marker__v-night {
  color: #434348; 
  font-weight: 600;
}

.marker__icon {
  color: #7cb5ec; }

.forecast-popup {
  position: absolute;
  top: 150px;
  /*width:295px;*/
  background-color: grey;
  z-index: 200;
  border-radius: 5px;
  text-align: left;
  line-height: 24px;
  padding: 10px 10px;
  box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.2);
  transition: left 0.5s ease-in; }

.forecast-popup__caption {
  position: relative;
  text-align: left; }

.forecast-popup__caption__day {
  color: yellow;
  border-bottom: 1px solid yellow; }

.forecast-popup__caption__close {
  color: black;
  cursor: pointer;
  display: block;
  position: absolute;
  top: -10px;
  right: 0;
  font-size: 14px;
  font-weight: bold; }

.forecast-popup__description {
  color: #c28cba;
  font-size: 16px;
  font-weight: bold; }

.forecast-popup__label {
  color: #de901b;
  font-weight: bold; }

.forecast-popup__value-row1 {
  color: #3e3557;
  font-weight: bold; }

.forecast-popup__value-row2 {
  color: #7cb5ec;
  font-weight: bold; }

.forecast-popup__value-row3 {
  color: #434348;
  font-weight: bold; }
