
.recharts-layer.recharts-composed > .recharts-rectangle {
  opacity : 0.2;
}


.recharts-cartesian-axis-tick-value {
  font-weight: 600;
}

.legend-cell {
  border-radius: 2px;
  cursor: pointer;
}
.legend-cell:hover {
  background-color: #646464;
}
