<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=3">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="referrer" content="no-referrer">
  <meta http-equiv="Content-Security-Policy" content="
      script-src 'self' 'unsafe-inline'
      https://unpkg.com/react@16.3.2/umd/react.production.min.js
      https://unpkg.com/react-dom@16.3.2/umd/react-dom.production.min.js
      https://unpkg.com/leaflet@1.3.1/dist/leaflet.js
      https://unpkg.com/prop-types@15.6.1/prop-types.min.js
      https://unpkg.com/recharts@1.0.0-beta.10/umd/Recharts.min.js;
      style-src 'self' 'unsafe-inline';
      img-src 'self' data: https://*.tile.openstreetmap.org"
  >
  <meta name="description" content="Webapp Weather Forecast. See current and forecast for weather at any point on Earth according to OpenWeatherMap data provider on an map. Personal user API key from data provider is required.">
  <meta name="application-name" content="Webapp Weather Forecast">
  <meta name="summary" content="Webapp Weather Forecast">
  <meta name="url" content="https://zhnzhn.github.io/weather-forecast">

  <title>Weather Forecast v0.2.0</title>
  <script type="application/ld+json">{
      "@context": "http://schema.org",
      "@type": "Map",
      "name": "weather forecast",
      "description": "Webapp Weather Forecast. See current and forecast for weather at any point on Earth according to OpenWeatherMap data provider on an map. Personal user API key from data provider is required.",
      "author": {
        "@type": "Person",
        "name": "Yevhenii Molodyi"
      },
      "url": "https://zhnzhn.github.io/weather-forecast",
      "image": "https://github.com/ZhnZhn/weather-forecast/raw/master/screencast/weather-forecast.png?raw=true"
    }</script>

  <link rel="icon" href="/css/favicon.png" sizes="32x32" type="image/png">
  <link rel="manifest" href="manifest.webmanifest">
  <base target="_blank">

  <!--[if IE]>
      <script src="lib/es6-shim.min.js"></script>
      <script src="lib/es6-promise.min.js"></script>
      <script src="lib/fetch.min.js"></script>
  <![endif]-->

  <script>
    'use strict';
    ;(function(){
      var polyfill = {
        add : function(path){
          var js = document.createElement('script');
          js.src = path;
          document.head.appendChild(js);
          return polyfill;
        }
      };
      if (!Object.assign){
        polyfill.add('lib/es6-shim.min.js')
                .add('lib/es6-promise.min.js')                ;
      }
      if (!window.fetch){
        polyfill.add('lib/fetch.min.js')
      }
      if (!Array.isArray) {
        Array.isArray = function(arg) {
           return Object.prototype.toString.call(arg) === '[object Array]';
        };
      }
    })()
  </script>

  
  <link rel="stylesheet" href="/css/app-7163829935.min.css">
  

</head>
<body>

   <div id="app" class="app">
   </div>

   <!--googleoff: snippet-->
   <noscript>
      <div class="noscript__root">
        <div class="noscript__header">
           <h1 class="noscript__caption">Weather Forecast</h1>
        </div>
        <div class="noscript__msg">
          <p>It seems JavaScript in your browser disabled or not supported.</p>
          <br/>
          <p>To use <a class="noscript__link" href=".">Webapp Weather Forecast</a>, please, enable JavaScript in the browser and reload the page.</p>
        </div>
      </div>
   </noscript>
   <!--googleon: snippet-->
   <script defer src="https://unpkg.com/react@16.3.2/umd/react.production.min.js"
     integrity="sha384-ssmDfleGSKwIS4GlKJM3gqgSQtp6pzFAc7y8f0r2Mfjn+EsHt4UqrSM8EXKZCAFU" crossorigin="anonymous"></script>
   <script defer src="https://unpkg.com/react-dom@16.3.2/umd/react-dom.production.min.js"
     integrity="sha384-9HNXemlU8cB7vTVvdlZbsut+fnt78jK2amX1CCxkLlamx+yD4gde8D6DJe+QkHm3" crossorigin="anonymous"></script>
   <script defer src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
      integrity="sha384-JguaQYjdUVs0XHRhkpHTNjd6j8IjEzgj5+1xeGYHCXQEaufKsYdtn9fgHVeVTLJu" crossorigin="anonymous"></script>
   <script defer src="https://unpkg.com/prop-types@15.6.1/prop-types.min.js"
      integrity="sha384-FQc2IoXappd5u+WdUftixGwJcyH480eQ0p+eX4rc7iAv1TIPjphlOQAoBGl+dvBM" crossorigin="anonymous"></script>
   <script defer src="https://unpkg.com/recharts@1.0.0-beta.10/umd/Recharts.min.js"
      integrity="sha384-mtQR+yEF1CyaC1yh8UHC1fmzaZhNNu0rSU6SDk1o7YhiiXKuTF4FI8nDLnOjIYua" crossorigin="anonymous"></script>
  <!--lib-->
  <%
 for (var index in htmlWebpackPlugin.files.js ) {
    var fileName = htmlWebpackPlugin.files.js[index];
    if (fileName.indexOf('manifest_') !== -1){ %>
      <script src="<%=fileName %>"></script>
    <% } else if (fileName.indexOf('lib_') !== -1) { %>
      <script src="<%=fileName %>" defer></script>
    <% } else if (fileName.indexOf('app_') !== -1) { %>
      <script src="<%=fileName %>" defer></script>
    <% }
 } %>

</body>
</html>
